* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    padding: 1em;

    display: flex;
    justify-content: center;
}

.navbar-container {
    width: 60%;

    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-items li {
    margin-left: 1em;
    font-size: 1.3em;

    list-style-type: none;
}

.navbar-items li a, .navbar-items li a:visited {
    color: black;
    text-decoration: none;
}